name: Rails CI

on:
  push:
    branches: [ main, project-setup ]
  pull_request:
    branches: [ main, project-setup ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: bookkeeping_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Wait for Postgres
        run: |
          until pg_isready -h 127.0.0.1 -p 5432 -U postgres; do
            echo "Waiting for Postgres..."
            sleep 1
          done

      - name: Set up database
        env:
          RAILS_ENV: test
        run: |
          bin/rails db:prepare

      - name: Run tests if they exist
        env:
          RAILS_ENV: test
        run: |
          if [ -d "spec" ]; then
            bundle exec rspec
          else
            echo "No tests found, skipping RSpec."
          fi
